// My wonderful navbar
nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') My Website!
    ul.nav.navbar-nav
      li.active
        a(href='/') Home
      li
        a(href='/page-1') Page 1
      li
        a(href='/page-2') Page 2
        
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/user/me')
          | You are logged in as
          | user@example.com
          
.container
  h2 Home

  p.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.